html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    font-family: monospace, sans-serif;
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    color: #444;
}

a { text-decoration: none; color: #444; }

hr { display: block; height: 1px; border: 0; border-top: 1px dashed #ccc; margin: 1em 0; padding: 0; }

#main {
    margin-top: 2em;
    margin-bottom: 2em;
}
#main p {
    margin-bottom: 1em;
}
header p {
    margin-top: 1em
}
footer {
    padding-top:  0.5em;
}

.red { color: red; }
.lime { color: lime; }
.cyan { color: cyan; }
.purple { color: #90F; }